{% extends 'layout.html.twig' %}
{% extends 'index.html.twig' %}
{% block content %}
    <header>
        <h1 ><img class="horseLogo" src="/assets/images/horse.png"><a href="/../" class= "title">Fast Horse Rental</a></h1>
    </header>
    <main>

        <div class="containerIndex">
            <img src="/assets/images/backgroundImage.jpg" class="horseHome" alt="horses image">
        </div>
        <p class="textPresentation">Tired of everyday life?<br>Do you thirst for freedom and dream of the great green plains,
        the desert or rocky landscapes? <br>Discover our horse rental service. You have the possibility to rent a horse in different countries.<br>
        Be free, use our services !!</p>

        <h4>Well done cowboy, you will be redirected to the destination of your choice.
     
    </main>

    <footer>
        <h2 class="footer">Legal Notices</h2>
    </footer>
{% endblock %}




